doctype html
html
  head
    title Ron Dance Academy
    block scripts
    block style
  body
    nav#navbar 
        ul  
            div#logo
                img(src="/static/Images/logo.png")

            li #[a(href="/") Home ]
            li #[a(href="/") Gallery ]
            li #[a(href="/") Our Services ]
            li #[a(href="/") About Us ]
            li #[a(href="/contact") Contact Us ]
    block content
    footer#footer
        | Copyright © 2022 rondanceacademy.com | All rights reserved